{% extends "page.twig" %}

{% block title %}FabianGoe Blog CMS - create blog{% endblock %}

{% block content %}
    <div class="cms">
        <h2>Create blog</h2>

        {% if error is not empty %}
            <div class="message error">
                <span>Error: </span> {{ error }}
            </div>
        {% endif %}

        <form class="pure-form pure-form-aligned" method="post" action="{{ path_for('cms_blog_create_handle') }}">
            <fieldset>
                <div class="pure-control-group">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text" placeholder="Example title" value="{% if user_input['title'] is defined %}{{ user_input['title'] }}{% endif %}">
                </div>
                <div class="pure-control-group">
                    <label for="slug">URL friendly title</label>
                    <input id="slug" name="slug" type="text" placeholder="example_title" value="{% if user_input['slug'] is defined %}{{ user_input['slug'] }}{% endif %}">
                </div>
                <div class="pure-control-group">
                    <label for="introduction">Introduction text</label>
                    <textarea id="introduction" name="introduction" rows="4" cols="50">{% if user_input['introduction'] is defined %}{{ user_input['introduction'] }}{% endif %}</textarea>
                </div>
                <div class="pure-control-group">
                    <label for="content">Content</label>
                    <textarea id="content" name="content" rows="4" cols="50">{% if user_input['content'] is defined %}{{ user_input['content'] }}{% endif %}</textarea>
                </div>

                <div class="pure-controls">
                    <button type="submit" value="Submit" class="pure-button pure-button-primary">Create blog</button>
                    <a class="pure-button" href="{{ path_for('cms_overview') }}">Back</a>
                </div>
            </fieldset>
        </form>

    </div>
{% endblock %}