{% extends "page.twig" %}

{% block title %}FabianGoe Blog CMS{% endblock %}

{% block content %}
    <div class="cms">
        <h2>CMS overview</h2>


        {% for msg in flash('success') %}
            <div class="message success">
                <span>Error: </span> {{ msg }}
            </div>
        {% endfor %}

        <a class="pure-button" href="{{ path_for('cms_blog_create') }}">Create new blog</a>
        <br/><br/>

        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <td>Title</td>
                <td>Date</td>
            </tr>
            </thead>

            <tbody>
            {% for blog in blogs %}
                <tr class="blog">
                    <td class="title">{{ blog.getTitle() }}</td>
                    {#<td class="title"><a href="{{ path_for('cms_blog_edit', slug: blog.getSlug()) }}">{{ blog.getTitle() }}</a></td>#}
                    <td>{{ blog.getDate.format('F jS, Y H:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}